* {
    font-family: 'Poppins', sans-serif;
}

.countryDetails{
    display: flex;
    flex-direction: column;
}

.nameSection{
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #fff;
}

.nameSection button {
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    padding: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.nameSection button:hover{
    background-color: #a945c7;
}

.middle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
    background-color: black;
    gap: 15px;
}

.activities{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;
}

.flag{
    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 30px;
    border: solid 1px #fff;
}

.info{
    align-items: center;
    display: flex;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 30px;
    color: #fff;
    border: solid 1px #fff;
}

.infoLeftRight{
    width: 40vh;
}

.countryName{
    color: #fff;
    font-size: 4rem;
    margin: 15px;
    text-decoration: none;
}

.li{
    font-size: 1.5rem;
    font-style: italic;
    margin: 70px 0;
}

.data{
    font-size: 2rem;
    font-style: normal;
}

.btn{

    font-size: 2rem;
}

.titleActivities{
    margin-top: 1.5rem;
    font-size: 2rem;
}

.activityCard{
    background-color: #000;
    border-radius: 20px;
    margin: 2%;
    padding: 2%;
    text-align: center;
    font-size: 1.5rem;
}

.activities2{
    display: flex;
    border: solid 1px #fff;
    border-radius: 30px;
    margin-bottom: 2rem;
}

.image {
    width: 40%;
}